<div class="mobile-taskbar">
    <ul>
        <li>
            <a href="#">
                <span class="icon">
                    <img src="/home/img/svg/live-stream.svg" alt="">
                </span>
                <span class="text">in-play</span>
            </a>
        </li>
        
        <li>
            <a href="#">
                <span class="icon">
                    <img src="/home/img/svg/poker-cards.svg" alt="">
                </span>
                <span class="text">Games</span>
            </a>
        </li>
        
        <li class="back-top">
            <a href="#">
                <img src="/home/img/svg/up-arrow.png" alt="">
            </a>
        </li>
        
        <li>
            <a href="#">
                <span class="icon">
                    <img src="/home/img/svg/test.svg" alt="">
                </span>
                <span class="text">Result</span>
            </a>
        </li>
        
        <li class="user">
            <a href="#">
                <span class="icon">
                    <img src="/home/img/svg/user.svg" alt="">
                </span>
                <span class="text">Mr. Joh...</span>
            </a>
        </li>
    </ul>
</div>