<nav class="navigation scroll-bar">
    <div class="container ps-0 pe-0">
        <div class="nav-content">
            <div class="nav-wrap bg-white bg-transparent-card rounded-xxl shadow-xss pt-3 pb-1 mb-2 mt-2">
                <div class="nav-caption fw-600 font-xssss text-grey-500"><span>Chuyển </span>hướng</div>
                <ul class="mb-1 top-content">
                    <li class="logo d-none d-xl-block d-lg-block"></li>
                    <li>
                        <a href="/" class="nav-content-bttn open-font">
                            <i class="feather-tv btn-round-md bg-blue-gradiant me-3"></i>
                            <span>
                                Trang chủ
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="default-badge.html" class="nav-content-bttn open-font">
                            <i class="feather-award btn-round-md bg-red-gradiant me-3"></i>
                            <span>
                                Của tôi
                            </span>
                        </a>
                    </li>
                </ul>


            </div>
            <% if (userss && userss.role=='admin' ){ %>
                <div class="nav-wrap bg-white bg-transparent-card rounded-xxl shadow-xss pt-3 pb-1 mb-2 mt-2">
                    <div class="nav-caption fw-600 font-xssss text-grey-500"><span>chuyển </span>hướng</div>
                    <ul class="mb-1 top-content">
                        <li class="logo d-none d-xl-block d-lg-block"></li>
                        <li>
                            <a href="/admin/?mod=wait" class="nav-content-bttn open-font">
                                <i class="feather-tv btn-round-md bg-blue-gradiant me-3"></i>
                                <span>
                                    chờ duyệt
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="/admin/?mod=systems" class="nav-content-bttn open-font">
                                <i class="feather-tv btn-round-md bg-blue-gradiant me-3"></i>
                                <span>
                                    Tai khoan
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
                <%}%>
        </div>
    </div>
</nav>